    <section class="contact">
        <div id="movie02Area">
            <div id="movieContent03"></div>
            <div class="spImg"><img src="/assets/resource/img/top/sp_movie_img03.png" alt=""></div>
        </div>
        <div class="inner">
            <h2 class="contactContainerTitle">
                <p class="titleEN"><img src="/assets/resource/svg/gacha-title5.svg" alt="Contact"></p>
                <p class="titleJP">お問い合わせ</p>
            </h2>
            <div class="contactTextBox">
                <p class="contactText">お問い合わせ・ご質問などは、次のページのお問い合わせフォームをご利用下さい。後日担当者よりご連絡差し上げます。</p>
                <p class="contactText">弊社の個人情報収集時の告知をご確認の上、ご同意頂ける方のみお問い合わせください。<br>
                    また、個人情報の取り扱いについては、<a href="/privacy/"> こちら</a>をご覧ください。</p>
            </div>
            <div class="btnContact">
                <a href="/contact/" target="_blank"></a>
            </div>
        </div>
    </section>