    <footer id="footer">
        <div class="inner">
            <div class="producedBox">
                <p class="tag">Produced by</p>
                <ul class="logoList">
                    <li class="logo_amuse">
                        <a href="https://www.a-muzu.com/" target="_blank">
                            <img src="/assets/resource/img/footer/logo-amuse@2x.png" alt="株式会社あミューズ">
                        </a>
                    </li>
                    <li class="logo_sonicjam">
                        <a href="https://www.sonicjam.co.jp/" target="_blank">
                            <img src="/assets/resource/img/footer/logo-sonicjam@2x.png" alt="SONICJAM">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="utilBox">
                <p class="copy">Copyright © SONICJAM Inc.<br>
                    All rights reserved.</p>
                <div id="footerPageTop">
                    <div class="ptImg">
                        <img src="/assets/resource/img/footer/btn_pagetop.png" alt="">
                    </div>
                    <p class="pageTopText">Page top</p>
                </div>
            </div>
        </div>
    </footer>
