    <div id="spHeader">
        <div class="logo">
            <a href="/"><img src="/assets/resource/img/common/logo_sp.png" alt="Techガチャ研究所"></a>
        </div>
        <div class="btnMenu">
            <div class="menu-line">
                <span class="top"></span>
                <span class="bottom"></span>
            </div>
        </div>
    </div>
    <div id="navContentSp">
        <div class="inner">
            <ul>
                <li>
                    <a href="#about">
                        <p class="navTitleEN">ABOUT</p>
                        <p class="navTitleJP">Techガチャ研究所とは!?</p>
                    </a>
                </li>
                <li>
                    <a href="#products">
                        <p class="navTitleEN">PRODUCTS</p>
                        <p class="navTitleJP">製品</p>
                    </a>
                </li>
                <li>
                    <a href="#service">
                        <p class="navTitleEN">SERVICES</p>
                        <p class="navTitleJP">サービス</p>
                    </a>
                </li>
                <li class="btnContactSp">
                    <a href="/contact/" target="_blank">
                        <img src="/assets/resource/img/common/btn_contact_sp.png" alt="CONTACT お問い合わせ">
                    </a>
                </li>
            </ul>
        </div>
        <div class="under"></div>
    </div>