    <section class="about" id="about">
        <div class="inner">
            <div class="leftBox">
                <h2 class="aboutContainerTitle">
                    <p class="titleEN"><img src="/assets/resource/svg/gacha-title1.svg" alt="About"></p>
                    <p class="titleJP">Techガチャ研究所とは!?</p>
                </h2>
                <div class="desBox">
                    <p class="des01">昭和40年代から現代まで人々に親しまれてきた<br>
                        「ガチャガチャ」「ガチャポン」を、<br>
                        最新のテクノロジーで拡張し、<br>
                        新しい体験をお届けするブランド、<br>
                        それが  Techガチャ研究所  です。</p>
                    <p class="des02">ガチャガチャ専門メーカー<span class="logo_amuse"><a href="https://www.a-muzu.com/" target="_blank"><img src="/assets/resource/img/top/logo_amuse.png" alt="株式会社あミューズ"></a></span><br>
                        最新デジタルテクノロジーを手がける<span class="logo_sj"><a href="https://www.sonicjam.co.jp/" target="_blank"><img src="/assets/resource/img/top/logo_sonicjam.png" alt="SONICJAM"></a></span>が、<br>
                        共同で企画・開発・販売・運営を行っています。</p>
                    <p class="des03">イベント、販促、常設、エンターテインメントなど<br>
                        さまざまな用途に適した新しいプロダクトと<br>
                        サービスを提供してまいります。</p>
                </div>
            </div>
            <div class="rightBox">
                <div class="animationGif">
                    <img src="/assets/resource/img/top/illustration.gif" alt="">
                </div>
            </div>
        </div>
        <div id="movie01Area">
            <div id="movieContent02"></div>
            <div class="spImg"><img src="/assets/resource/img/top/sp_movie_img02.png" alt=""></div>
        </div>
    </section>