    <section class="cases" id="cases">
        <div class="inner">
            <h2 class="casesContainerTitle">
                <p class="titleEN"><img src="/assets/resource/svg/gacha-title4.svg" alt="Cases"></p>
                <p class="titleJP">事例紹介</p>
            </h2>
            <div class="casesListBox">
                <ul>
                    <li>
                        <figure>
                            <img src="/assets/resource/img/top/cases_img01@2x.png" alt="">
                        </figure>
                        <h3 class="caseTitle">東京おもちゃショー2018</h3>
                        <p class="caseText">2018年8月、◯◯のオープニングイベントで「SMILE GACHA」体験を実施しました。大勢の親子連れの笑顔にあふれた楽しいイベントとなりました。</p>
                    </li>
                    <li>
                        <figure>
                            <img src="/assets/resource/img/top/cases_img02@2x.png" alt="">
                        </figure>
                        <h3 class="caseTitle">東京おもちゃショー2018</h3>
                        <p class="caseText">2018年8月、◯◯のオープニングイベントで「SMILE GACHA」体験を実施しました。大勢の親子連れの笑顔にあふれた楽しいイベントとなりました。</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>