    <section class="mainVisual">
        <div class="inner">
            <div class="kvBox">
                <h1 class="logo"><img src="/assets/resource/svg/gacha-logo.svg" alt="Techガチャ研究所"></h1>
                <h2 class="leadText"><img src="/assets/resource/svg/bg_lead@2x.svg" alt="ずっと変わらない、回すワクワク。"></h2>
                <div id="scrollItem"></div>
            </div>
            <div class="kvMovieBox">
                <header id="header">
                    <div class="header_inner">
                        <div class="navContainer">
                            <ul>
                                <li>
                                    <a href="#about">
                                        <p class="navTitleEN">ABOUT</p>
                                        <p class="navTitleJP"><span>Techガチャ<br>研究所とは!?</span></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#products">
                                        <p class="navTitleEN">PRODUCTS</p>
                                        <p class="navTitleJP">製品</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#service">
                                        <p class="navTitleEN">SERVICES</p>
                                        <p class="navTitleJP">サービス</p>
                                    </a>
                                </li>
                                <li class="btnContact">
                                    <a href="/contact/" target="_blank">
                                        <p class="navTitleEN">CONTACT</p>
                                        <p class="navTitleJP">お問い合わせ</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div class="kvMovieContent">
                    <div class="kvMovieContentWrap">
                        <div id="movieContent01"></div>
                    </div>
                    <div class="kvImg">
                        <img src="/assets/resource/img/top/sp_movie_img01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>