    <section class="news" id="news">
        <div class="inner">
            <div class="newsContainer">
                <h2 class="newsContainerTitle">
                    <p class="titleEN">WHAT'S NEW!</p>
                    <p class="titleJP">ニュース</p>
                </h2>
                <div class="newsList">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="tagDay">
                                    <p class="tagText">2018.12.13</p>
                                </div>
                                <p class="newsText">東京おもちゃショー2018にSMILE GACHAが登場しました！</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="tagDay">
                                    <p class="tagText">2018.12.13</p>
                                </div>
                                <p class="newsText">東京おもちゃショー2018にSMILE GACHAが登場しました！</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>