    <section class="products" id="products">
        <div class="inner">
            <h2 class="productsContainerTitle">
                <p class="titleEN"><img src="/assets/resource/svg/gacha-title2.svg" alt="Products"></p>
                <p class="titleJP">製品情報</p>
            </h2>
            <div class="productsListBox">
                <ul>
                    <li>
                        <div class="productFrame hvr-wobble-vertical new">
                            <a href="/products/smile/">
                                <div class="liInner">
                                    <div class="productsImg">
                                        <img src="/assets/resource/img/product/smile/product_img01.png" alt="">
                                    </div>
                                    <div class="productsTextBox">
                                        <h3 class="productsText">SMILE&nbsp;GACHA</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="productDetailBox">
                            <h4 class="copy">“笑顔でガチャガチャ一回ゲット!”</h4>
                            <div class="text">カメラと顔認識技術を組み合わせた世界初（？）の笑顔認識ガチャ。イベントや販促ツールに最適です。</div>
                        </div>
                    </li>
                    <li class="nonActive">
                        <div class="productFrame comingSoonOnly">
                            <a href="javascript:void(0)">
                                <div class="liInner">
                                    <div class="productsImg">

                                    </div>
                                    <div class="productsTextBox">
                                        <h3 class="productsText">CASHLESS<br>GACHA</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="productDetailBox">
                            <h4 class="copy">“コインいらずで何度でも”</h4>
                            <div class="text">QRコードとスマホで決済できるガチャ。ついつい回し過ぎに注意！店舗や会員向けサービスに。</div>
                        </div>
                    </li>
                    <li class="nonActive">
                        <div class="productFrame comingSoon">
                            <a href="javascript:void(0)">
                                <div class="liInner">
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>