    <section class="service" id="service">
        <div class="inner">
            <h2 class="serviceContainerTitle">
                <p class="titleEN"><img src="/assets/resource/svg/gacha-title3.svg" alt="Service"></p>
                <p class="titleJP">サービス</p>
            </h2>
            <div class="serviceListBox">
                <ul>
                    <li>
                        <div class="serviceImg">
                            <img src="/assets/resource/img/top/service_img01@2x.png" alt="Service01">
                        </div>
                        <h3 class="serviceName">ガチャガチャ機器の<br class="brSP">レンタル</h3>
                        <p class="serviceText">イベントなどの用途に、ガチャガチャ機器を短期間レンタル貸出いたします。機種、日数など条件により価格が変わりますので、お問い合わせください。</p>
                    </li>
                    <li>
                        <div class="serviceImg">
                            <img src="/assets/resource/img/top/service_img02@2x.png" alt="Service02">
                        </div>
                        <h3 class="serviceName">ガチャガチャ商品の<br class="brSP">販売</h3>
                        <p class="serviceText">常設用ガチャガチャ機器本体を販売いたします。また、カプセルおよび商品の企画・製造・販売を行います。</p>
                    </li>
                    <li>
                        <div class="serviceImg">
                            <img src="/assets/resource/img/top/service_img03@2x.png" alt="Service03">
                        </div>
                        <h3 class="serviceName">オリジナルガチャガチャ<br>機器の制作</h3>
                        <p class="serviceText">特別な用途のためのガチャガチャ機器のカスタマイズ、またはオリジナルガチャガチャ機器を製造・販売いたします。</p>
                    </li><li>
                        <div class="serviceImg">
                            <img src="/assets/resource/img/top/service_img04@2x.png" alt="Service04">
                        </div>
                        <h3 class="serviceName">ガチャガチャを活用した<br>イベントの企画・実施</h3>
                        <p class="serviceText">ガチャガチャを活用したイベント全体を企画・ご提案いたします。デザイン、施工、ネット連動企画、PRなど幅広く対応いたしますので、お気軽にお問い合わせください。</p>
                    </li>

                </ul>
            </div>
        </div>
    </section>